.red
{
  width:100px;
  height:100px;
  background-color: red;
  position:absolute;
  top:200px;
  left:200px;
}
.blue
{
  width:100px;
  height:100px;
  background-color: blue;
  position:absolute;
  top:100px;
  left:100px;

}
.yellow
{
  width:100px;
  height:100px;
  background-color: yellow;
  position:absolute;
  top:0;
  left:0;
}



/*method-1
.red
{
  width:100px;
  height:100px;
  background-color: red;
  position:relative;
  display:inline-block;
  left:400px;
}
.blue
{
  width:100px;
  height:100px;
  background-color: blue;
  position:relative;
  display:inline-block;
  right:200px;

}
.yellow
{
  width:100px;
  height:100px;
  background-color: yellow;
  position:relative;
  display:inline-block;
  right:200px;

}*/


/*method -2
.red
{
  width:200px;
  height:200px;
  background-color: red;
  position:relative;
  left:400px;
}
.blue
{
  width:200px;
  height:200px;
  background-color: blue;
  position:relative;
  bottom:200px;

}
.yellow
{
  width:200px;
  height:200px;
  background-color: yellow;
  position:relative;
  left:200px;
  bottom:400px;
}*/
